.newsletter-section {
  background-image: url("https://ciyashop-react.potenzaglobalsolutions.com/static/media/new-letter-bg.40d48a05.jpg");
}
.newsletter-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-ptb {
  padding: 80px 0;
}
.newsletter-wrapper.newsletter-style-1 {

    text-align: center;

}